*{
    background-color: antiquewhite;
}

h1{
    color: whitesmoke;
    background-color: darkseagreen;
}

h2{
    color: whitesmoke;
    background-color: #c58940;
}

#pixel{
    font-size: 20px;
}

#point{
    font-size: 20pt;
}

#em{
    font-size: 1em;
}

#rem{
    font-size: 1rem;
}

footer{
    font-size: 12pt;
}

html{
    font-size: xx-large;
}